:root {
  --turquoise: #337d7e;
  --light-gray: #c0c0c0;
  --navy-blue: #0d2062;
  --darker-gray: #808789;
  --sky-blue: #7891d5;
  --light-turquoise: #8ccbcc;
  --bronze: #8ccbcc;
  --red: #c4483d;
  --linux-gray: #A8A8A8;
  --linux-green: #00FF00;
  --linux-teal:#00FFFF; 
  --linux-green2: #00A800;
  --white: #FFFFFF;
  --linux-blue: #00A8FF;
  --linux-brown: #A85700;
  --black: #000000;

}

body,
html {
  font-family: 'Hack', monospace;
  height: 100%;
  overflow: hidden;
}

* {
  margin: 0;
  box-sizing: border-box;
}
body {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

aside {
    width: 15%;
    height: 100%;
    background-color: blue;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

.icon-box {
    height: 15%;
    width: 100%;
    padding: 20px;
}
.circle {
  width: 100px;
  height: 100px;
  background-image: url('./assets/Ullman_Ellman.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%; 
  display: flex;

}

.nav-list {
    height: 20%;
    width: 100%;
    padding: 20px;
}

main {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
}
.top-pane {
    height: 20%;
    width: 100%;
    padding: 20px;
}

.lower-pane {
    height: 100%;
    padding: 20px; 
    background-color: gray;
}

